*{
  box-sizing: border-box;
}
body{
  font-size: 25px;
  background-color: rgba(0,0,0, 0.1);
  font-family: "Raleway";
  margin: 0 auto;
}
form {
  margin: 0 auto;
  text-align: center;
  font-size: 25px;
}

div {
  font-size: 14px;
  color: white;
}
.form-group {
  display: block;
  margin: 4px;
  width: 150px;
  height: 35px;
  font-size: 25px;
  margin: 0 auto;
}
.form-group input {
  text-align: center;
}

.main {
  max-width: 1400px;
  color: black;
}
.row {
  width: 100%;
  color: black;
}

.loginform {
  display: inline;
}

.movies {
  background-color: #17131f;
  text-align: center;
  width: 50%;
  margin-left: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  height: 1200px;
  display: block;
  box-shadow: 9px 9px 9px 6px rgba(0, 0, 0, 0.4);
}
.userlogin {
  background-color: #848b94;
  text-align: center;
  text-align: 30px;
  width: 20%;
  padding-top: 30px;
  padding-bottom: 30px;
  height: 620px;
  margin-left: 20px;
  box-shadow: 9px 9px 9px 6px rgba(0, 0, 0, 0.3);
}
h2 {
  font-size: 40px;
  font-family: "Quando";
  text-shadow: 2px 2px black;
}
h3 {
  margin-top: 40px;
  font-size: 26px;
}
h3:hover {
  font-size: 1.8em;
}
h4 {
  font-size: 24px;
}
button {
  font-size: 40px;
  width: 2em;
}
p {
  font-size: 25px;
  display: inline;
  margin-left: 30px;
}
img{
  width: 30%;
  height: 300px;
  margin: 0 auto;
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
}
.left-side-divs {
  display: block;
}
.searchallmovies {
  display: none;
}
.movies input {
  font-size: 25px;
  margin: 0 auto;
}
.favorites {
  font-size: 40px;
}
.saveFavorites {
  background-color: rgba(255, 0, 0, 0.8);
  width: 140px;
  height: 60px;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  font-weight: bolder;
}
.favoritesDiv {
  background-color: #848b94;
  text-align: center;
  text-align: 30px;
  width: 25%;
  padding-top: 30px;
  padding-bottom: 30px;
  height: 800px;
  margin-left: 20px;
  box-shadow: 9px 9px 9px 6px rgba(0, 0, 0, 0.3);
}
.favorited {
  font-size: 45px;
  animation-iteration-count: 2;
}
.favorites {
  font-size: 45px;
  color: white;
  overflow: scroll;
}
.favorites:hover {
  color: rgba(255, 255, 255, 0.6);
  border-radius: 100%;
}
.signupsubmit {
  background-color: lemonchiffon;
  width: 94px;
  height: 40px;
  padding: 10px;
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
  font-weight: bolder;
}
.signup-users-name {
  display: none;
}
#firstname{
  background-color: lemonchiffon;
}
#lastname{
  background-color: lemonchiffon;
}
#submit{
  background-color: lemonchiffon;
  width: 90px;
  height: 60px;
  padding: 10px;
  margin-left: 30px;
  font-size: 20px;
  text-align: center;
  font-weight: bolder;
  border-radius: 100%;
}
#togglelogins{
  background-color: white;
  color: black;
  padding: 10px;
  font-size: 27px;
  font-weight: bolder;
}
#togglelogins:hover{
  background-color: lemonchiffon;
}
.forms{
  display: inline-table;
  font-size: 15px;
}
@keyframes easeIn {
  from {
    transform: scale(.5, .5);
  }
  to {
    transform: scale(1, 1);
    }
  }
  @-webkit-keyframes easeIn {
    from {
      transform: scale(.5, .5);
    }
    to {
      transform: scale(1, 1);
    }
  }
  .messages {
    -webkit-animation: easeIn ease 2s;
    animation-name: easeIn;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    margin-top: 80px;
    margin-bottom: -25px;
    padding-bottom: 200px;
  }
  .messages h3{
    padding-top: 40px;
    text-shadow: 1px 1px black;
    font-family: "Quando";
    color: rgba(0, 0, 0, 0.5);
    font-size: 35px;
  }
