*{
  box-sizing: border-box;
}
body{
  font-size: 25px;
  background-color: rgba(0,0,0, 0.1);
  font-family: "Raleway";
  margin: 0 auto;
}
.form-group{
  display: block;
  margin: 4px;
  width: 150px;
  height: 35px;
  font-size: 25px;
  margin: 0 auto;
}
.form-group input{
  text-align: center;
}

form{
  margin: 0 auto;
  text-align: center;
  font-size: 25px;
}

div{
  font-size: 14px;
  color: white;
}
.main{
  max-width: 1400px;
  color: black;
  min-width: 900px;
}
.row{
  width: 100%;
  color: black;
}
.signup{
  background-color: #848b94;
  text-align: center;
  text-align: 30px;
  width: 25%;
  padding-top: 30px;
  padding-bottom: 30px;
  height: 500px;
  margin-left: 20px;
  box-shadow: 9px 9px 9px 6px rgba(0, 0, 0, 0.3);
}

.movies{
  background-color: #17131f;
  text-align: center;
  width: 65%;
  margin-left: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  height: 1000px;
  display: block;
  box-shadow: 9px 9px 9px 6px rgba(0, 0, 0, 0.4);
}
h3{
  margin-top: 40px;
  font-size: 26px;
}
h3:hover{
  font-size: 1.8em;
}
p:nth-child(3n){
  font-size: 45px;
  color: white;
}
p:nth-child(3n):hover{
  color: red;
  border-radius: 100%;

}
.movies input{
  font-size: 25px;
  margin: 0 auto;
}
.forms{
  display: inline-table;
  font-size: 15px;
}
h2{
  font-size: 40px;
  font-family: "Quando";
  text-shadow: 2px 2px black;
}
button{
  font-size: 40px;
  width: 2em;
}
#signupsubmit{
  background-color: lemonchiffon;
  width: 94px;
  height: 40px;
  padding: 10px;
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
  font-weight: bolder;
}
#submit{
  background-color: lemonchiffon;
  width: 90px;
  height: 60px;
  padding: 10px;
  margin-left: 30px;
  font-size: 20px;
  text-align: center;
  font-weight: bolder;
  border-radius: 100%;
}
p{
  font-size: 25px;
  display: inline;
  margin-left: 30px;
}
.searchallmovies{
  display: none;
}
#placeholder{
background-color: white;
color: black;
padding: 10px;
font-size: 27px;
font-weight: bolder;
}
#placeholder:hover{
  background-color: lemonchiffon;
}
img{
  width: 30%;
  height: 300px;
  margin: 0 auto;
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
}
